body {
    background-color: #000000;
}

.navbar {
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 3px;
    padding-top: 2px;
    background-color: #000000;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: right;
    list-style: none;
    margin: 5px 10px 5px 10px;
}

.navbar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-right: 5px;
    font-weight: bold;
    font-family: 'Mooli', sans-serif;
}

.navbar li a:hover {
    color: rgb(234, 24, 24);
}
#plogo{
    padding-top: 12px;
    color: white;
    float: left;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bolder;
    font-family: 'Mooli', sans-serif;
}

.container {
    background-image: url(social\ \(2\).png);
    margin-top: 2px;
    display: grid;
    height: 800px;
    width: 450;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;
    column-gap: 10px;
    background-size: cover;
}


#logoimage{
    padding-top: 60px;
}

.log_section {
    background-color: transparent;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 10px;
    height: 600px;
    width: 450px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    justify-content: center;
    margin: 30px auto 0 auto;
}

.log_img {
    padding-top: 30px;
    padding-bottom: 30px;

}

.log_head {
    color: rgb(241, 241, 241);
    font-size: 30px;
    font-weight: bolder;
    padding-top: 40px;
    font-family: 'Mooli', sans-serif;
}

.log_form div {
    padding-top: 20px;
    padding-bottom: 10px;
}

._form {
    width: 299px;
    height: 29px;
    border: 2px solid rgb(255, 255, 255);
    background-color: #000000;
    color: rgb(0 231 255);
    border-radius: 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
     'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.button1 {
    background-color: rgb(66, 200, 253);
    
    border: 2px solid rgb(66, 200, 253) ;
    border-radius: 3px;
    margin-top: 30px;
    /* Green */
    padding: 5px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
}

.button1:hover {
    background-color: rgb(0, 183, 255);
    cursor: pointer;
    border: 0px;
}
